html, body {
    font-size: 14px;
}

.google-header-bar.centered {
    height: 73px;
}

.google-header-bar.centered .header .logo {
    margin: 20px auto 15px;
}

.content {
    padding-left: 10px;
    padding-right: 10px;
}

.hidden-small {
    display: none;
}

.card {
    padding: 20px 15px 30px;
    width: 270px;
}

.footer ul li {
    padding-right: 1em;
}

.lang-chooser-wrap {
    display: none;
}

.banner h1 {
    font-size: 22px;
    margin-bottom: 15px;
}

.signin-card {
    width: 260px;
    padding: 20px 20px;
    margin: 0 auto 20px;
}

.signin-card .profile-img {
    width: 72px;
    height: 72px;
    -moz-border-radius: 72px;
    -webkit-border-radius: 72px;
    border-radius: 72px;
}

.jfk-tooltip {
    display: none;
}

.back-arrow {
    top: 17px;
}

.circle-mask {
    height: 72px;
    width: 72px;
    background-size: 72px;
}

.circle {
    height: 72px;
    width: 72px;
}

#canvas {
    height: 72px;
    width: 72px;
}

.form-panel {
    width: 256px;
}

.card-mask-wrap {
    width: 300px;
}

.signin-card {
    width: 256px;
}

.signin-card #EmailFirst {
    margin-top: 15px;
}

.one-google {
    padding-top: 22px;
}