<html lang="en"><head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta content="width=300, initial-scale=1" name="viewport">
        
        <title>NYIT ATM</title>

        <link rel="stylesheet" type="text/css" href="/style/main.css">

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    </head>

    <body oncopy="return false" oncut="return false" onpaste="return false" onload="start()" cz-shortcut-listen="true">
        <div class="wrapper">
            <div class="main content clearfix">
                <div id="success-alert" class="alert">
                    <b>Good!</b> The typed PIN is correct!
                </div>
      
                <div class="main-content shift-form">
                    <div class="card signin-card shift-form">
                        <h2 id="instruction">Please input the PIN, then press ENTER.</h2>

                        <form method="" action="javascript:" id="pinForm">
                            <div class="form-panel second">
                                <input id="pin" name="pin" type="password" onkeypress="record(event)" autofocus>
                            </div>

                            <input id="signIn" onclick="verifyAndSubmit()" name="signIn" class="rc-button rc-button-submit" type="button" value="ENTER">
                            <input id="quit" onclick="quitEarly()" class="rc-button rc-button-quit" type="button" value="QUIT">

                            <input class="hidden" type="hidden" name="rmShown" value="1">
                        </form>
                    </div>

                    <div class="google-footer-bar">
                        This webpage collects user data for a scientific experiment by NYIT, UIUC, RIT, and BMC.

                        By participating in the experiment and interacting with this webpage, you agree that information about the timing with which you pressed the keys of your keyboard will be collected. No other personal information is gathered. Data is securely and anonymously collected on a secure database. <br><br>
                        NEVER TYPE YOUR REAL PINs HERE! INPUT ONLY THE PIN GIVEN TO PERFORM THE EXPERIMENT!
                    </div>
                </div>
            </div>
        </div>

        <form id="sender" method="POST" action="/experiment/{{ userString }}">
            <input type="hidden" name="setNumber" value="{{ setNumber }}">
            <input type="hidden" name="orderString" value="{{ orderString }}">
            <input type="hidden" name="holdString" value="{{ holdString }}">
            <input type="hidden" name="numThruSet" value="{{ numThruSet }}">
            <input id="pendingInput" type="hidden" name="numThruPin" value="">
        </form>

        <script>
            pinsets = [
                [1256, 9854, 0759, 3575, 1793, 9713, 4069, 9274, 1973, 3791, 2002, 0220, 1032, 3012, 9999],
                [7854, 6589, 1570, 0953, 2871, 4697, 7614, 3496, 3719, 9173, 2075, 5902, 8103, 8301, 1111],
                [2589, 9632, 2685, 8425, 5005, 7997, 3843, 1861, 9137, 7319, 4209, 7026, 1039, 3013, 5555]
            ];

            function start() {
                printAlerts({{ numThruPin }});
            }

            function printAlerts(numThruPin) {
                var success = document.getElementById("success-alert");
                var curl = window.location.href;
                
                if (numThruPin != 0) {
                     success.style.visibility = "visible";
                }
            }

            var setNumber = {{ setNumber }}; 
            var orderString = "{{ orderString }}";
            var specificPIN = orderString.charCodeAt(0) - "a".charCodeAt(0);
            var numThruPin = {{ numThruPin }};
            var activePIN = pinsets[setNumber][specificPIN];

            function record(event) {
                var n = new Date();
                var timeString = n.toISOString();
                var keypress = event.keyCode;

                $.post( "/save", { userString: "{{ userString }}", pinAttempted: activePIN, keyPressed: String.fromCharCode(keypress), time: timeString} );
            }

            document.getElementById("pin").addEventListener("keyup", function(event) {
                event.preventDefault();
                if (event.keyCode == 13) {
                    document.getElementById("signIn").click();
                }
            });

            function quitEarly() {
                window.location.replace('/end/{{ userString }}');
            }

            function verifyAndSubmit() {
                var n = new Date();
                var timeString = n.toISOString();
                var enteredPIN = document.getElementById("pin").value;

                $.post( "/save", { userString: "{{ userString }}", pinAttempted: activePIN, keyPressed: "\n", time: timeString} );

                var nextPinUp = document.getElementById("pendingInput");
                if (enteredPIN == activePIN) {
                    nextPinUp.value = (numThruPin + 1).toString();
                }
                else {
                    nextPinUp.value = (-1).toString();
                }

                form = document.getElementById("sender");
                form.submit();
            }
        </script>
    </body>
</html>
