<!DOCTYPE html>
<html>
    <body>
        <form id="onlythinghere" method="POST" action="/experiment/{{ userString }}">
            <input type="hidden" name="setNumber" value="{{ setNumber }}">
            <input type="hidden" name="orderString" value="{{ orderString }}">
            <input type="hidden" name="holdString" value="{{ holdString }}">
            <input type="hidden" name="numThruSet" value="{{ numThruSet }}">
            <input type="hidden" name="numThruPin" value="{{ numThruPin }}">
        </form>

        <script>
            form = document.getElementById("onlythinghere");
            form.submit();
        </script>
    </body>
</html>