<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta content="width=300, initial-scale=1" name="viewport">
        
        <title>NYIT ATM</title>
        
        <link rel="stylesheet" type="text/css" href="/style/main.css">
    </head>
    
    <body>
        <div class="banner">
            <h1>Please enter the user ID</h1>
        </div>

        {% if err %}
            <div id="error-alert" class="alert" style="display: inline;">
                The ID you have entered does not exist!
            </div>
        {% endif %}

        <div class="card signin-card shift-form">
            <form method="post">
                
                <div class="form-panel second">
                    <label class="hidden-label" for="userID">User ID</label>
                    <input id="userID" name="userID" type="text" placeholder="User ID" autofocus>
                </div>

                <button type="submit" class="rc-button rc-button-quit">Submit</button>
            </form>
        </div>
    </body>
</html>